* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  font-weight: bold;
  font-size: 30px;
}
.banner {
  width: 100%;
  height: 80px;
  background-color: #ccffff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.navigation {
  width: 100%;
  height: 80px;
  background-color: #99cccc;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.box {
  display: flex;
}
.box_menu {
  width: 30%;
}
