#container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#box1 {
  width: 600px;
  padding: 10px 30px 20px 30px;
  border: 2px solid blue;
  background-color: #fffecd;
  border-radius: 10px;
  font-size: 20px;
}
#box1_title {
  text-align: center;
  color: #950504;
}
#box2 {
  width: 400px;
  background-image: url(../Bai_01/images/hinh.avif);
  border: 2px solid blue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
#box2_title {
  text-align: center;
  color: #d1ef39;
}
#box2_paragraph {
  color: #e5ead3;
  font-size: 20px;
}
